.ConvoTab {
  display: flex;
  background-color: #e9e4f0;
  align-items: center;
  border-bottom: 1px solid black;
  h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    width: 100%;
    color: black;
    font-size: 1.25rem;
    padding: 8px;
    cursor: pointer;
  }
}

.ConvoTab:hover {
  background-color: #075e54;
  h4 {
    color: white;
  }
}
