.SideNav {
  display: flex;
  flex-direction: column;
  flex: 0.25;
  height: 100vh;
  background-color: #2f3135;
  .Top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2f3135;
    color: white;
    border-bottom: 2px solid gray;
    height: 7.5%;
  }

  .Header {
    display: flex;
    height: 7.5%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0 10px;
    background-color: #2f3135;
    color: gray;
    border-bottom: 1px solid gray;
    svg {
      cursor: pointer;
    }
  }

  .Convos {
    flex: 1;
    overflow-y: scroll;
    padding-top: 0;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  .Profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    padding: 15px;
    border-top: 1px solid gray;
    div {
      h3 {
        color: white;
      }
    }
  }
}
